html {
    background-color: #222;
}

body {
    font-family: 'Amiri', serif;
    line-height: 1.6;
    margin: 0;
    align-items: center;
    text-align: center;
}

.container {
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
}

section.team{
    padding: 0rem 0;
    
}
/* div.container {
    background: #fff;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */
 
header.hero {
    background-color: #fffdfb;
    position: relative;
    text-align: center;
    padding: 2rem 1rem;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    height: 10rem;
}

header.hero .logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 12rem; 
    height: auto;
}

header.hero .github-badge {
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-decoration: none;
}

header.hero .github-badge img {
    height: auto;
    width: auto;
}

header.hero h1 {
    font-size: 2.5rem;
    color: #222;
    margin-top: 0; 
}

header.hero .tagline {
    font-size: 1.5rem;
    color: #555;
    margin-top: 0.5rem;
}

section {
    padding: 1.2rem 0;
}

h2 {
    font-size: 2rem;
    color: #444;
    margin-bottom: 1rem;
    border: 0px;
    border-bottom: 4px; 
    border-radius: 10%;
    border-style: ridge;
    border-color: #a7794c;
}

p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

em {
    color: #555;
    font-style: italic;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer.footer {
    text-align: center;
    padding: 1rem 0;
    background: #222;
    color: #fff;
    margin-top: 2rem;
}

video {
    display: block;
    margin: 1rem auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 30%;
}

